$dark-blue: #003F91;
$medium-blue: #5DA9E9;
$meduim-blue-background: rgba(93, 169, 233, 0.5);
$light-blue: #F5FBFF;
$grey: #777676;

$mediaMaxWidth: 1260px;
$mediaBp1Width: 960px;
$mediaMinWidth: 480px;

@mixin borderrad {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

@mixin cardshadow {
  box-shadow: 0px 4px 4px rgba($color: #000000, $alpha: 0.1);
}

// @mixin sectiongrid {
//   display: grid;
//   grid-template-rows: auto;
//   margin: 0 10vw;
// }

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

// Sub-navigation buttons
.sub-btn {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
  background-color: $dark-blue;
  color: white;
  @include borderrad();

  width: 20vh;
  height: 20vh;
  text-align: center;
  font-weight: bold;
  margin-bottom: 3vh;

  &>img {
    height: 7vh;
    align-self: end;
  }

  &>p {
    font-size: 90%;
  }
}


// Cards (questions & treatments)
.card {
  &-sec {
    margin-bottom: 2vw;

    &>h2 {
      margin: 0 0 1rem 0;
      font-size: 2rem;
    }
  }

  &-base {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    width: auto;
    margin-bottom: 1vw;
    padding: 2vh;

    background-color: white;
    @include cardshadow();
    @include borderrad()
  }

  &-heading {
    grid-row: 1;


    &>h3 {
      margin: 0;
      color: $dark-blue;
      font-size: 1rem;
      font-weight: bold;
    }
  }

  &-arrow {
    grid-row: 1;
    grid-column: 2;
    align-self: center;

    &>img {
      height: 1.5rem;
      float: right;
    }
  }

  &-content {
    display: none;
    grid-row: 2;
    grid-column: 1/ 2;
    padding: 2vh 0;

    &>p {
      color: $dark-blue;
    }
  }

}




// FAQ page
.faq {

  &-navigation {
    display: inline-block;
    grid-row: 1/ span 6;
  }

  &-grid {
    // margin: 75px 10vw 0 10vw;
    margin-top: 75px;
    padding: 0 10vw;
    display: grid;
    grid-template-columns: 15vw 65vw;
    // grid-template-rows: auto auto auto auto auto auto;
    width: 100%;
    min-height: 100vh;

  }

  // FAQ header
  &-header {
    width: auto;
    grid-column: 2/ 3;
    padding-top: 1vh;
    margin-bottom: 8vh;
  }

  &-header>h1 {
    margin: 0 0 1vh 0;
  }
}

// Contact page
.contact {
  padding: 10vh 0;
  text-align: center;

  &-grid {
    display: grid;
    grid-template-columns: 25vw 50vw;
    grid-template-rows: auto auto;
    padding: 5vw 10vw;
    gap: 5vh;
  }

  &-booking,
  &-form {
    background-color: $meduim-blue-background;
    @include borderrad();
    padding: 5vh;
    color: white;
  }



  &-info {
    position: sticky;
    top: 0;

    &-grid {
      padding-top: 5vh;
      display: grid;
      grid-template-columns: 20% 80%;
      grid-template-rows: auto auto auto auto;

      &-img {
        height: 1vw;
        grid-column: 1;
        margin-top: 0.3rem;
      }

      &-text {
        grid-column: 2;

        &>h3 {
          font-weight: bold;
          color: $dark-blue;
          margin-bottom: 1rem;
        }

        &>p {
          color: $grey;
          margin-bottom: 1rem;
          width: 100%;
        }

        &>a {
          display: block;
          color: $grey;
          font-weight: bold;
          padding-bottom: 2rem;

          &:hover {
            text-decoration: underline;
          }

          &:active {
            color: $grey;
            font-weight: bold;
            padding-bottom: 2rem;
          }
        }
      }
    }

    &>h2 {
      grid-column: 1/ span 2;
    }
  }

  &-form {
    grid-column: 2;


    &>h2 {
      margin-top: 0;
    }

    &-name {
      grid-column: 1;
    }

    &-email {
      grid-column: 2;
    }

    &-question {
      grid-column: 1/ span 2;
    }
  }
}

.form {
  &-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 2vw;
    margin-top: 4vh;
  }

  &-sumbit {
    grid-column: 1/ span 2;

    &-btn {
      margin: 0;
      color: white;
    }
  }
}


.booking {
  &-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 2vw;
    margin: 4vh 0 0 0;

    &-name {
      grid-column: 1;
    }

    &-date {
      grid-column: 2;
    }

    &-email {
      grid-column: 1/ span 2;
    }

    &-description {
      grid-column: 1/ span 2;

      &>input {
        height: 4rem;
      }
    }

    &-attachment {
      grid-column: 1/ span 2;

      &>input[type=file] {
        height: 8rem;
        background-color: white;

        &::placeholder {
          text-align: center;
        }
      }
    }

    &-submit>button {
      height: auto;

      &>h5 {
        margin: 0.8rem 1rem;
      }
    }
  }
}

label {
  color: $dark-blue;
  font-weight: 500;
}

input {
  width: 100%;
  padding: 1rem;
  border: none;
  @include borderrad();


  &::placeholder {
    color: $grey;
    align-self: baseline;
  }
}

.btn {
  background-color: $dark-blue;
  @include borderrad();
  margin-top: 0;

  &>a {
    color: white;
    padding: 1rem;
    font-weight: 600;
  }

  &>h5 {
    color: white;
  }
}



// Treatments page 
.treatments {
  &-grid {
    display: grid;
    grid-template-columns: 80vw;
    grid-template-rows: auto;
    padding: 5vw 10vw;
  }

  &-navigation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 5vh 0;
    // position: sticky;
    // top: 0;
  }

  &-cards-sec {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto;
    margin-bottom: 2vw;

    &>h2 {
      font-size: 2rem;
      grid-column: 1/ span 2;
      margin-bottom: 2vw;
    }
  }

  &-btn {
    grid-column: 1;
    grid-row: 2/ span 10;
  }

  &-card {
    grid-column: 2;
  }
}

//Travelling page
.travel {
  &-card {
    &-sec {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: auto auto;
      gap: 4vw;
      padding: 0 10vw;

      &>h2 {
        grid-column: 1/ span 2;
      }
    }

    &-number {
      grid-column: 1;
    }

    &-list {
      grid-column: 2;

      &>p {
        margin-bottom: 2vw;
      }

      &>.card-base {
        background-color: $meduim-blue-background;
      }
    }
  }

  &-cost {
    padding: 5vw 10vw;

    &-info {
      background-color: $meduim-blue-background;
      @include borderrad();
      padding: 3vw;

    }
  }
}