@import './header';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


$dark-blue: #003F91;
$medium-blue: #5DA9E9;
$light-blue: #F5FBFF;
$white: #FFFFFF;
$grey: #5A5A5A;

$mediaMaxWidth: 1274px;
$mediaBp1Width: 960px;
$mediaMinWidth: 480px;

@mixin borderrad {
   border-radius: 20px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   -ms-border-radius: 20px;
   -o-border-radius: 20px;
}

/* Margin between the intro text and the section's main content*/
@mixin intro-content-margin {
   margin-top: 5rem;
}

:root {
   --shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
      0 1px 2px 0 rgba(0, 0, 0, 0.06);
   --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
   --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

*,
*::before,
*::after {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   list-style: none;
   list-style-type: none;
   text-decoration: none;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   text-rendering: optimizeLegibility;
}

html {
   font-size: 100%;
   box-sizing: inherit;
   scroll-behavior: smooth;
   height: -webkit-fill-available;
   overflow-x: hidden;
}

body {
   font-family: 'Inter', sans-serif;
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.5;
   height: -webkit-fill-available;
   color: black;
   background-color: white;
}

a,
button {
   cursor: pointer;
   border: none;
   outline: none;
   user-select: none;
   background: none;
   box-shadow: none;
}

.primary-btn {
   background-color: $dark-blue;
   width: fit-content;
   height: 2.3rem;
   margin-top: 5rem;


   &>a {
      color: $white;
      padding-left: 1.2rem;
      padding-right: 1.2rem;
      font-size: 1rem;
      font-weight: 500;
   }

   &:hover {
      background-color: $medium-blue;
   }

   @include borderrad;

}

.secondary-btn {
   color: $medium-blue;
   text-decoration: underline;
   font-size: 1rem;
   font-weight: 500;

   &:hover {
      color: $dark-blue;
   }
}

.btn-center-position {
   margin-left: 45%;
   width: 5rem;
}

img,
video {
   display: block;
   max-width: 100%;
   height: auto;
   object-fit: cover;
}

.container {
   max-width: 90vw;
   height: auto;
   margin-right: 10vw;
   margin-left: 10vw;
}

.brand {
   font-family: inherit;
   font-size: 1.625rem;
   font-weight: 700;
   line-height: 1.25;
   letter-spacing: -1px;
   text-transform: uppercase;
   color: $dark-blue;
}

.header {
   //  position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: auto;
   z-index: 100;
   margin: 0 auto;
   padding-top: .5rem;
}

.top-wrapper {
   background-image: url(/assets/images/hero-bg.png);
   background-size: auto;
   background-repeat: no-repeat;
}

.wrapper {
   display: flex;
   align-items: center;
   justify-content: space-between;
   column-gap: 1rem;
   row-gap: 2rem;
   width: 80%;
   height: 3.5rem;
   margin: 0 auto;
}

.navbar {
   height: 200px;
}

.navbar {
   @media screen and (max-width: 1056px) {
      position: fixed;
      top: 0;
      left: -100%;
      width: 50%;
      height: 100%;
      z-index: 10;
      opacity: 1;
      overflow-y: auto;
      visibility: hidden;
      box-shadow: var(--shadow-medium);
      background-color: white;
      transition: all 0.5s ease;

      &.active {
         left: 0rem;
         opacity: 1;
         visibility: visible;
      }
   }
}

.menu {
   &-item {
      position: relative;
      display: inline-block;
      margin-left: 1rem;
   }

   @media only screen and (max-width: 1056px) {
      .menu-item {
         margin-left: 10vw;
      }

      .menu-item button {
         margin-top: 2rem;
         margin-left: 1rem;
      }
   }


   & img {
      scale: .7;
      position: relative;
      top: 1.4rem;
      left: 1rem;
   }

   &-link {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 0.25rem;
      font-family: inherit;
      font-size: 1rem;
      font-weight: 500;
      line-height: inherit;
      cursor: pointer;
      text-transform: capitalize;
      color: $medium-blue;
      transition: all 0.3s ease-in-out;

      &-tel {
         color: $dark-blue;
         font-weight: 700;
         padding-left: 3rem;
         position: relative;

         &:hover {
            color: $medium-blue;
         }
      }

      &-btn {
         background-color: $dark-blue;
         color: white;
         padding: 10px;
         @include borderrad;
      }

      >i.bx {
         font-size: 1.35rem;
         line-height: 1.5;
         color: inherit;
      }

      &:hover {
         outline: none;
      }
   }

   @media screen and (max-width: 1274px) {
      .menu-item-tel {
         display: none;
      }
   }

   @media only screen and (min-width: 1056px) {
      &-dropdown:hover {
         >.submenu {
            display: block;
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
         }
      }
   }

   @media only screen and (max-width: 1056px) {
      width: 100%;
      height: auto;
      padding: 1rem 0;

      &-item {
         display: block;
         margin: 0 auto;
      }

      &-link {
         justify-content: space-between;
         padding: 0.5rem 1.25rem;
      }
   }
}

.submenu {
   position: absolute;
   top: 2.5rem;
   left: -2rem;
   min-width: 10rem;
   height: auto;
   padding: 0 1rem 1rem;
   opacity: 0;
   visibility: hidden;
   transform: translateY(1rem);
   border-radius: 0 0 0.25rem 0.25rem;
   border-top: 2px solid $dark-blue;
   box-shadow: var(--shadow-medium);
   background-color: $light-blue;
   transition: all 0.3s ease-in-out;

   &-item {
      display: block;
      margin-top: 0.75rem;
   }

   &-link {
      font-family: inherit;
      font-size: 1rem;
      font-weight: 500;
      line-height: inherit;
      cursor: pointer;
      color: black;
      transition: all 0.35s ease;

      &:hover {
         outline: none;
         color: $dark-blue;
      }
   }

   // Responsive Media Query
   @media only screen and (max-width: 1056px) {
      position: relative;
      top: -0.5rem;
      left: 2.5rem;
      width: 100%;
      max-height: 0;
      padding: 0px;
      border: none;
      outline: none;
      opacity: 1;
      overflow: hidden;
      visibility: visible;
      transform: translateY(0px);
      box-shadow: none;
      background: transparent;
   }
}

.burger {
   position: relative;
   display: none;
   cursor: pointer;
   user-select: none;
   width: 1.75rem;
   height: 1rem;
   opacity: 0;
   visibility: hidden;
   background: transparent;

   &-line {
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: 2px;
      opacity: 1;
      border: none;
      outline: none;
      background: $dark-blue;

      &:nth-child(1) {
         top: 0px;
      }

      &:nth-child(2) {
         top: 0.5rem;
      }

      &:nth-child(3) {
         top: 1rem;
      }
   }

   // Responsive Media Query
   @media only screen and (max-width: 1056px) {
      display: block;
      opacity: 1;
      visibility: visible;
   }
}

.overlay {
   position: fixed;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   z-index: 9;
   opacity: 0;
   visibility: hidden;
   transition: all 0.35s ease-in-out;
   background-color: $light-blue;

   // Responsive Media Query
   @media only screen and (max-width: 1056px) {
      &.active {
         display: block;
         opacity: 1;
         visibility: visible;
      }
   }
}

/* Typography*/

h1 {
   font-size: 2.5rem; /* 2.5 times body text*/
   color: $dark-blue;
   font-weight: 700;
}

h2 {
   font-size: 2.25rem; /* 2.25 times body text*/
   color: $dark-blue;
   font-weight: 700;
   margin: 2rem 0;
}

h3 {
   font-size: 2rem; /* 2 times body text*/
   color: $dark-blue;
   font-weight: 300;
}

h4 {
   font-size: 1.75rem; /* 1.75 times body text*/
   color: $dark-blue;
}

.hero-text {
   font-size: 1.5rem; /* 1.5 times body text*/
   color: $grey;
   font-weight: 300;
   margin: 2rem 0;
}

.intro-text {
   font-size: 1.25rem; /* 1.25 times body text*/
   color: $grey;
   font-weight: 500;
}

p {
   font-size: 1rem; /* body text */
   color: $grey;
}


.hero-section {
   display: grid;
   grid-template-columns: 1fr 1fr;
   min-height: 90vh;
   margin: 0 10vw;

   &-left>h1 {
      margin-top: 8rem;
   }

   &-right>img {
      margin-top: 8rem;
      width: 75%;
      position: relative;
      float: right;
   }

   & .hero-secondary-btn {
      margin-left: 1.5rem;
   }
}

.mobile-btn {
   display: none;
}

@media screen and (max-width: 1056px) {
   .hero-section {
      grid-template-columns: 1fr;

      .h1-span {
         display: none;
      }

      &-left>h1 {
         margin-top: 4rem;
         font-size: 250%;
      }

      &-right>img {
         width: 80%;
         margin-left: 10vw;
         margin-right: 10vw;
         margin-top: 2rem;
      }
   }

   .desktop-btn {
      display: none;
   }

   .mobile-btn {
      display: block;
      margin-left: 10vw;
      margin-top: 1.5rem;
      text-decoration: underline;
   }
}

@mixin w-h-m {
   width: 80vw;
   min-height: 80vh;
   margin: 0 auto;
   margin-top: 5rem;
   margin-bottom: 5rem;
}

.process-section {
   @include w-h-m;
   margin: 0 10vw;

   &-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      width: 100%;
      @include intro-content-margin;
      justify-items: start;

      &>div{
         margin-bottom: 2.5rem;
         width: 80%;
         display: inline-block;
      }

      &>.step-2{
         justify-self: center;
      }

      &>.step-3{
         justify-self: end;
      }

      &>div>img, .step{
         display: inline-block;
      }

      &>div>.step{
         font-size: 3rem;
         color: $dark-blue;
         font-weight: 700;
         margin-left: 1rem;
      }

      &>div>p{
         margin-top: 1.5rem;
      }

   }
}

@media screen and (max-width: 1056px) {
   .process-section {
      @include w-h-m;
   }

   .process-section>div>a {
      bottom: 0;
   }

   .process-section-grid {
      grid-template-columns: 1fr;

      &>div {
         margin-top: 3rem;
         height: 10rem;
      }

      &>div>img {
         scale: .3;
      }

   }
}

#wave1 {
   position: relative;
}

#wave2 {
   position: relative;
}

.prices-wrapper {
   background-image: url(/assets/images/waves.png);
   background-size: auto;
   background-repeat: no-repeat;
}

.prices-section {
   @include w-h-m;

   &>h4 {
      margin-bottom: 8rem;
   }

   &-grid {
      display: grid;
      grid-template-columns: 1fr .6fr 1fr;
      @include intro-content-margin;


      &>div>h4 {
         margin-top: 1.5rem;
         margin-bottom: 4rem;
         text-align: center;
      }

      &>div>p {
         margin-bottom: 2rem;
         text-align: center;
      }

      &>.hun-prices {
         color: $medium-blue;
         background-color: $white;
         box-shadow: 1px 1px 2px $dark-blue;
         @include borderrad;
      }

      &>.p-s-g-treatments>h4 {
         text-align: left;
      }

      &>.p-s-g-treatments>p {
         text-align: left;
      }
   }
}

.about-us-section {
   @include w-h-m;
   min-height: 100vh;

   &>h2 {
      margin-top: 4rem;
   }

   &-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 4rem;
      margin-bottom: 4rem;
      @include intro-content-margin;

      &>img {
         width: 100%;
      }
   }

   &>a {
      text-decoration: underline;
      width: 5rem;
      color: $medium-blue;
      margin-left: 40%;
      font-size: 1.3rem;
   }

}

.flights-section {
   @include w-h-m;

   &>h2 {
      margin-bottom: 1rem;
   }

   &>h4 {
      font-size: 1rem;
      color: $grey;
   }

   &>button {
      width: fit-content;
      padding-left: 1rem;
      padding-right: 1rem;
      align-content: center;
      margin-left: 40%;
   }

   &-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
      gap: 4rem;
      margin-top: 4rem;


      &>.f-s-card {
         @include borderrad;
         box-shadow: 1px 1px 2px $dark-blue;
         height: fit-content;
         padding-bottom: 2rem;
         margin-bottom: 2rem;


         &>h5,
         h6,
         div {
            margin-left: 10%;
            margin-right: 10%;
            color: $grey;
         }

         &>h5 {
            margin-top: 2rem;
            font-size: 1.5rem;
            color: $dark-blue;
         }

         &>h6 {
            margin-top: .5rem;
            font-size: 1rem;
            color: $medium-blue;
         }

         &>div {
            margin-top: 2rem;
            margin-bottom: 1.5rem;
            width: 26%;
            display: inline-block;
            line-height: 95%;
         }

         &>a {
            text-decoration: underline;
            margin-left: 25%;
         }

      }
   }

}

.accomodation-section {
   margin-top: 5rem;
   @include w-h-m;

   &>h4 {
      color: $grey;
      font-size: 1rem;
      margin-top: 1rem;
   }

   &-grid {
      margin-top: 5rem;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      min-height: 45vh;
      gap: 4rem;

      &>div {
         @include borderrad;
         position: relative;
      }

      &>div>h3,
      h4,
      button {
         margin-left: 10%;
      }

      &>div>h4 {
         margin-top: 1rem;
      }

      &>div>h3 {
         margin-top: .5rem;
         color: $medium-blue;
      }

      &>div>button {
         background-color: $light-blue;
         width: fit-content;
         padding: 10px;
         @include borderrad;
         position: absolute;
         bottom: 1rem;
         left: 20%;

         &:hover {
            background-color: $dark-blue;
         }

         &:hover a {
            color: $light-blue;
         }
      }

      &>.asc-1 {
         background-image: url(/assets/images/hotel1.png);

      }

      &>.asc-2 {
         background-image: url(/assets/images/panzio.png);
      }

      &>.asc-3 {
         background-image: url(/assets/images/apartment.png);

      }
   }
}

.consultation-section {
   @include w-h-m;
   min-height: 50vh;
   margin-top: 5rem;
   display: grid;
   grid-template-columns: 2fr 1fr;

   &>div {
      position: relative;
   }

   &>div>h2 {
      font-size: 2rem;
   }

   &>div>h4 {
      font-size: 1rem;
      color: $grey;
      margin-top: 1rem;
   }

   &>div>button {
      position: absolute;
      bottom: 3rem;
      width: 9rem;
      font-size: 1rem;
   }

   &>div>img {
      @include borderrad;
   }
}

footer {
   background-color: $dark-blue;
   min-height: 40vh;
   background-image: url(/assets/images/waves.png);
   background-size: cover;


   .footer-grid {
      margin-left: 10vw;
      margin-right: 10vw;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;

      &>div {
         margin-top: 3rem;
         line-height: 3rem;
      }

      .footer-r {
         text-align: right;

         &>button {
            background-color: $light-blue;
            margin-right: 2rem;

            &>a {
               color: $dark-blue;
            }
         }
      }

      .fb-icon {
         float: right;
      }

      &>div>a {
         color: $light-blue;
         text-decoration: underline;

      }

      &>div>p {
         color: $light-blue;
      }
   }

}

// About page

.expectations-section {
   @include w-h-m;

   &-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 4rem;

      &>div>img {
         scale: .7;
      }

      &>div>h4 {
         margin-top: 1rem;
         margin-bottom: 2rem;
      }
   }
}

.staff-section {
   @include w-h-m;

   &>h3 {
      margin-left: 0;
      margin-bottom: 2rem;
   }

   &>.staff-card {
      @include borderrad;
      height: fit-content;
      margin-bottom: 4rem;
      display: grid;
      grid-template-columns: 1fr 2.5fr;
      gap: 0;
      background-color: $medium-blue;

      &>div>h3 {
         margin-left: 2rem;
         color: $dark-blue;
         font-weight: 500;
      }

      &>div>.role {
         margin: 1rem 2rem;
         color: $light-blue;
      }

      &>div>.abt-p {
         margin-top: 1rem;
         margin: 0 2rem;
      }
   }
}

// Swiper

.swiper-slide {

   &-grid {
      @include w-h-m;
      min-height: 50vh;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 4rem;

      &>.swiper-card {
         background-color: $medium-blue;
         @include borderrad;

         &>span>img {
            margin: 3rem;
         }

         &>p {
            margin: 0 3rem;
         }

         &>div {
            &>img {
               display: inline-block;
               float: right;
               margin: 1rem 3rem;
               scale: .7;
            }

            &>h4 {
              display: inline-block;
              margin: 3rem 3rem;
            }
         }

      }
   }
}

.swiper-pagination{
   scale: 2;
}

.location-section{
   @include w-h-m;
   &>h2{
      margin: 2rem 0;
   }
}