h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

.faq-navigation {
  display: inline-block;
  grid-row: 1/span 6;
}
.faq-grid {
  margin-top: 75px;
  padding: 0 10vw;
  display: grid;
  grid-template-columns: 15vw 65vw;
  width: 100%;
  min-height: 100vh;
}
.faq-btn {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
  background-color: #003F91;
  color: white;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  width: 20vh;
  height: 20vh;
  text-align: center;
  font-weight: bold;
  margin-bottom: 3vh;
}
.faq-btn > img {
  height: 7vh;
  align-self: end;
}
.faq-btn > p {
  font-size: 90%;
}
.faq-header {
  width: auto;
  grid-column: 2/3;
  padding-top: 1vh;
  margin-bottom: 8vh;
}
.faq-header > h1 {
  margin: 0 0 1vh 0;
}
.faq-cards-sec {
  margin-bottom: 2vw;
}
.faq-cards-sec > h2 {
  margin: 0;
  font-size: 2rem;
}
.faq-card {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  width: auto;
  margin-bottom: 1vw;
  padding: 2vh;
  background-color: #F5FBFF;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.faq-heading {
  grid-row: 1;
}
.faq-heading > h3 {
  margin: 0;
}
.faq-arrow {
  grid-row: 1;
  grid-column: 2;
  align-self: center;
}
.faq-arrow > img {
  height: 1.5rem;
  float: right;
}
.faq-content {
  display: none;
  grid-row: 2;
  grid-column: 1/2;
  padding: 2vh 0;
}

.contact {
  padding: 10vh 0;
  text-align: center;
}
.contact-grid {
  display: grid;
  grid-template-columns: 55vw 20vw;
  grid-template-rows: auto auto;
  padding: 10vw;
  gap: 5vh;
}
.contact-booking, .contact-form {
  background-color: #5DA9E9;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  padding: 5vh;
}
.contact-booking {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  height: 800px;
}
.contact-booking-header {
  grid-column: 1/span 2;
}
.contact-booking-header > p {
  color: white;
}
.contact-info-grid {
  padding-top: 5vh;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: auto auto auto auto;
}
.contact-info-grid-img {
  height: 1vw;
  grid-column: 1;
}
.contact-info-grid-text {
  grid-column: 2;
}
.contact-info > h2 {
  grid-column: 1/span 2;
}
.contact-form {
  grid-column: 1/span 2;
  height: 400px;
}

.treatments-grid {
  display: grid;
  grid-template-columns: 80vw;
  grid-template-rows: auto;
  padding: 5vw 10vw;
}
.treatments-navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 5vh 0;
}
.treatments-cards-sec {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: auto;
  margin-bottom: 2vw;
}
.treatments-cards-sec > h2 {
  font-size: 2rem;
  grid-column: 1/span 2;
  margin-bottom: 2vw;
}
.treatments-btn {
  grid-column: 1;
  grid-row: 2/span 10;
}
.treatments-card {
  grid-column: 2;
}/*# sourceMappingURL=pages.css.map */