@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
     0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
     0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
     0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html {
  font-size: 100%;
  box-sizing: inherit;
  scroll-behavior: smooth;
  height: -webkit-fill-available;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  height: -webkit-fill-available;
  color: black;
  background-color: white;
}

a,
button {
  cursor: pointer;
  border: none;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: none;
  box-shadow: none;
}

.primary-btn {
  background-color: #003F91;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 2.3rem;
  margin-bottom: 1rem;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.primary-btn > a {
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
}
.primary-btn:hover {
  background-color: #5DA9E9;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  max-width: 90vw;
  height: auto;
  margin-right: 10vw;
  margin-left: 10vw;
}

.brand {
  font-family: inherit;
  font-size: 1.625rem;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -1px;
  text-transform: uppercase;
  color: #003F91;
}

.header {
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 100;
  margin: 0 auto;
  box-shadow: var(--shadow-medium);
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  row-gap: 2rem;
  width: 80%;
  height: 3.5rem;
  margin: 0 auto;
}

@media screen and (max-width: 1056px) {
  .navbar {
    position: fixed;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    z-index: 10;
    opacity: 1;
    overflow-y: auto;
    visibility: hidden;
    box-shadow: var(--shadow-medium);
    background-color: white;
    transition: all 0.5s ease;
  }
  .navbar.active {
    left: 0rem;
    opacity: 1;
    visibility: visible;
  }
}

.menu-item {
  position: relative;
  display: inline-block;
  margin-left: 1rem;
}
@media only screen and (max-width: 1056px) {
  .menu .menu-item {
    margin-left: 10vw;
  }
  .menu .menu-item button {
    margin-top: 2rem;
    margin-left: 1rem;
  }
}
.menu img {
  scale: 0.7;
  position: relative;
  top: 1.4rem;
  left: 1rem;
}
.menu-link {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 0.25rem;
       column-gap: 0.25rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  line-height: inherit;
  cursor: pointer;
  text-transform: capitalize;
  color: #5DA9E9;
  transition: all 0.3s ease-in-out;
}
.menu-link-tel {
  color: #003F91;
  font-weight: 700;
  padding-left: 3rem;
  position: relative;
}
.menu-link-tel:hover {
  color: #5DA9E9;
}
.menu-link-btn {
  background-color: #003F91;
  color: white;
  padding: 10px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.menu-link > i.bx {
  font-size: 1.35rem;
  line-height: 1.5;
  color: inherit;
}
.menu-link:hover {
  outline: none;
}
@media screen and (max-width: 1274px) {
  .menu .menu-item-tel {
    display: none;
  }
}
@media only screen and (min-width: 1056px) {
  .menu-dropdown:hover > .submenu {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
@media only screen and (max-width: 1056px) {
  .menu {
    width: 100%;
    height: auto;
    padding: 1rem 0;
  }
  .menu-item {
    display: block;
    margin: 0 auto;
  }
  .menu-link {
    justify-content: space-between;
    padding: 0.5rem 1.25rem;
  }
}

.submenu {
  position: absolute;
  top: 2.5rem;
  left: -2rem;
  min-width: 10rem;
  height: auto;
  padding: 0 1rem 1rem;
  opacity: 0;
  visibility: hidden;
  transform: translateY(1rem);
  border-radius: 0 0 0.25rem 0.25rem;
  border-top: 2px solid #003F91;
  box-shadow: var(--shadow-medium);
  background-color: #F5FBFF;
  transition: all 0.3s ease-in-out;
}
.submenu-item {
  display: block;
  margin-top: 0.75rem;
}
.submenu-link {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  line-height: inherit;
  cursor: pointer;
  color: black;
  transition: all 0.35s ease;
}
.submenu-link:hover {
  outline: none;
  color: #003F91;
}
@media only screen and (max-width: 1056px) {
  .submenu {
    position: relative;
    top: -0.5rem;
    left: 2.5rem;
    width: 100%;
    max-height: 0;
    padding: 0px;
    border: none;
    outline: none;
    opacity: 1;
    overflow: hidden;
    visibility: visible;
    transform: translateY(0px);
    box-shadow: none;
    background: transparent;
  }
}

.burger {
  position: relative;
  display: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 1.75rem;
  height: 1rem;
  opacity: 0;
  visibility: hidden;
  background: transparent;
}
.burger-line {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  opacity: 1;
  border: none;
  outline: none;
  background: #003F91;
}
.burger-line:nth-child(1) {
  top: 0px;
}
.burger-line:nth-child(2) {
  top: 0.5rem;
}
.burger-line:nth-child(3) {
  top: 1rem;
}
@media only screen and (max-width: 1056px) {
  .burger {
    display: block;
    opacity: 1;
    visibility: visible;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  transition: all 0.35s ease-in-out;
  background-color: #F5FBFF;
}
@media only screen and (max-width: 1056px) {
  .overlay.active {
    display: block;
    opacity: 1;
    visibility: visible;
  }
}

h1 {
  margin-left: 10vw;
  color: #003F91;
}

h2 {
  color: #003F91;
}

h3 {
  margin-top: 2rem;
  margin-left: 10vw;
  font-size: 90%;
  color: #777676;
}

h4 {
  color: #003F91;
  font-size: 1.5rem;
}

.hero-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 90vh;
}
.hero-section-left > h1 {
  margin-top: 14rem;
  font-size: 250%;
}
.hero-section-left > h2 {
  font-size: 120%;
}
.hero-section-right > img {
  margin-top: 14rem;
  width: 50%;
  position: relative;
  float: right;
  margin-right: 10vw;
}
.hero-section .contact-a {
  margin-left: 2rem;
  color: #5DA9E9;
  text-decoration: underline;
}

.mobile-btn {
  display: none;
}

@media screen and (max-width: 1056px) {
  .hero-section {
    grid-template-columns: 1fr;
  }
  .hero-section .h1-span {
    display: none;
  }
  .hero-section-left > h1 {
    margin-top: 4rem;
    font-size: 250%;
  }
  .hero-section-right > img {
    width: 80%;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 2rem;
  }
  .desktop-btn {
    display: none;
  }
  .mobile-btn {
    display: block;
    margin-left: 10vw;
    margin-top: 1.5rem;
    text-decoration: underline;
  }
}
.about-btn {
  margin-left: 10vw;
  margin-top: 5rem;
  padding-left: 7px;
  padding-right: 7px;
}

.process-section {
  width: 80vw;
  min-height: 80vh;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  position: relative;
  width: 100vw;
}
.process-section > h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.process-section-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}
.process-section-grid > div > img {
  scale: 0.5;
  position: relative;
  right: 5rem;
  bottom: 13rem;
}
.process-section-grid > div > p {
  margin-left: 8rem;
  width: 55%;
  display: inline-block;
}
.process-section > a {
  margin-left: 45%;
  text-decoration: underline;
  position: absolute;
  bottom: 10rem;
  font-size: 1.5rem;
}

@media screen and (max-width: 1056px) {
  .process-section {
    width: 80vw;
    min-height: 80vh;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  .process-section > div > a {
    bottom: 0;
  }
  .process-section-grid {
    grid-template-columns: 1fr;
  }
  .process-section-grid > div {
    margin-top: 3rem;
    height: 10rem;
  }
  .process-section-grid > div > img {
    scale: 0.3;
  }
}
#wave1 {
  position: relative;
}

#wave2 {
  position: relative;
}

.prices-wrapper {
  background-image: url(/assets/images/waves.png);
  background-size: auto;
  background-repeat: no-repeat;
}

.prices-section {
  width: 80vw;
  min-height: 80vh;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.prices-section > h2 {
  margin-bottom: 2rem;
}
.prices-section > h4 {
  margin-bottom: 8rem;
  font-size: 1rem;
}
.prices-section-grid {
  display: grid;
  grid-template-columns: 1fr 0.6fr 1fr;
}
.prices-section-grid > div > h4 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 4rem;
  text-align: center;
}
.prices-section-grid > div > p {
  margin-bottom: 2rem;
  text-align: center;
}
.prices-section-grid > .hun-prices {
  color: #5DA9E9;
  background-color: white;
  box-shadow: 1px 1px 2px #003F91;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.prices-section-grid > .p-s-g-treatments > h4 {
  text-align: left;
}
.prices-section-grid > .p-s-g-treatments > p {
  text-align: left;
}

.about-us-section {
  width: 80vw;
  min-height: 80vh;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  min-height: 100vh;
}
.about-us-section > h2 {
  margin-top: 4rem;
}
.about-us-section > h4 {
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: 1rem;
}
.about-us-section-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  margin-bottom: 4rem;
}
.about-us-section-grid > img {
  width: 100%;
}
.about-us-section > a {
  text-decoration: underline;
  width: 5rem;
  color: #5DA9E9;
  margin-left: 40%;
  font-size: 1.3rem;
}

.flights-section {
  width: 80vw;
  min-height: 80vh;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.flights-section > h2 {
  margin-bottom: 1rem;
}
.flights-section > h4 {
  font-size: 1rem;
  color: #777676;
}
.flights-section > button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 1rem;
  padding-right: 1rem;
  align-content: center;
  margin-left: 40%;
}
.flights-section-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 4rem;
  margin-top: 4rem;
}
.flights-section-grid > .f-s-card {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: 1px 1px 2px #003F91;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}
.flights-section-grid > .f-s-card > h5,
.flights-section-grid > .f-s-card h6,
.flights-section-grid > .f-s-card div {
  margin-left: 10%;
  margin-right: 10%;
  color: #777676;
}
.flights-section-grid > .f-s-card > h5 {
  margin-top: 2rem;
  font-size: 1.5rem;
  color: #003F91;
}
.flights-section-grid > .f-s-card > h6 {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #5DA9E9;
}
.flights-section-grid > .f-s-card > div {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  width: 26%;
  display: inline-block;
  line-height: 95%;
}
.flights-section-grid > .f-s-card > a {
  text-decoration: underline;
  margin-left: 25%;
}

.accomodation-section {
  margin-top: 5rem;
  width: 80vw;
  min-height: 80vh;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.accomodation-section > h4 {
  color: #777676;
  font-size: 1rem;
  margin-top: 1rem;
}
.accomodation-section-grid {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  min-height: 45vh;
  gap: 4rem;
}
.accomodation-section-grid > div {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  position: relative;
}
.accomodation-section-grid > div > h3,
.accomodation-section-grid h4,
.accomodation-section-grid button {
  margin-left: 10%;
}
.accomodation-section-grid > div > h4 {
  margin-top: 1rem;
}
.accomodation-section-grid > div > h3 {
  margin-top: 0.5rem;
  color: #5DA9E9;
}
.accomodation-section-grid > div > button {
  background-color: #F5FBFF;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  position: absolute;
  bottom: 1rem;
  left: 20%;
}
.accomodation-section-grid > div > button:hover {
  background-color: #003F91;
}
.accomodation-section-grid > div > button:hover a {
  color: #F5FBFF;
}
.accomodation-section-grid > .asc-1 {
  background-image: url(/assets/images/hotel1.png);
}
.accomodation-section-grid > .asc-2 {
  background-image: url(/assets/images/panzio.png);
}
.accomodation-section-grid > .asc-3 {
  background-image: url(/assets/images/apartment.png);
}

.consultation-section {
  width: 80vw;
  min-height: 80vh;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  min-height: 50vh;
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.consultation-section > div {
  position: relative;
}
.consultation-section > div > h2 {
  font-size: 2rem;
}
.consultation-section > div > h4 {
  font-size: 1rem;
  color: #777676;
  margin-top: 1rem;
}
.consultation-section > div > button {
  position: absolute;
  bottom: 3rem;
  width: 9rem;
  font-size: 1rem;
}
.consultation-section > div > img {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

footer {
  background-color: #003F91;
  min-height: 40vh;
  background-image: url(/assets/images/waves.png);
  background-size: cover;
}
footer .footer-grid {
  margin-left: 10vw;
  margin-right: 10vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
footer .footer-grid > div {
  margin-top: 3rem;
  line-height: 3rem;
}
footer .footer-grid .footer-r {
  text-align: right;
}
footer .footer-grid .footer-r > button {
  background-color: #F5FBFF;
  margin-right: 2rem;
}
footer .footer-grid .footer-r > button > a {
  color: #003F91;
}
footer .footer-grid .fb-icon {
  float: right;
}
footer .footer-grid > div > a {
  color: #F5FBFF;
  text-decoration: underline;
}
footer .footer-grid > div > p {
  color: #F5FBFF;
}/*# sourceMappingURL=style.css.map */